.note-image .bullet{
    opacity:0;
    visibility: hidden;
}

.note .image {
    width:100%;
    height:100%;
    border-radius:5px;
    margin: 0px auto;
    border:2px solid rgba(255, 255, 255, 0);
    outline: 2px solid rgba(72, 135, 230, 0);
    transition:all ease-in-out 0.25s;
    cursor:pointer;
    object-fit: cover;
    z-index:5;
}

.note-image.focus .image{
    border:2px solid rgb(255, 255, 255);
    outline: 2px solid rgb(72, 135, 230);
}

.note .image-con{
    width:100%;
    height:auto;
    display:flex;
}

.note .image-wrapper{
    width:50%;
    height:auto;
    margin:15px auto;
}


.image-loader{
    background-color:rgb(235, 235, 235);
    width:50%;
    height:150px;
    border-radius:5px;
    margin: 15px auto;
    display:flex;
}

.image-loader img{
    opacity:50%;
    width:25px;
    height:25px;
    margin:auto;
    margin-top:65px;
}

.ui-resizable-handle {
    background-color:red;
    width:15px;
    height:4px;
    z-index: 1000 !important;
    opacity:0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
}

.note-image:hover .ui-resizable-handle{
    opacity: 1;
    visibility: visible;
}

.ui-resizable-se {
    background-color:rgba(104, 104, 104, 0.37);
    border-radius:10px;
    cursor:nwse-resize;
    float:right;
    margin-right:-2px;
    margin-top:-3.5px;
}
